*{
    box-sizing:border-box;
    font-family:tahoma,Arial;
}


body{

    background:#f2f5f7;

    margin:0;

    padding:20px;

}



.container{

    max-width:900px;

    margin:auto;

}



h1{

    text-align:center;

    color:#14532d;

    margin-bottom:30px;

}


h1 span{

    display:block;

    font-size:14px;

    font-weight:normal;

    margin-top:8px;

    color:#555;

}




.card{

    background:white;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

    box-shadow:0 3px 10px #ccc;

}




textarea{

    width:100%;

    height:120px;

    padding:15px;

    font-size:18px;

    border-radius:10px;

    border:1px solid #aaa;

    direction:ltr;

}



button{

    margin-top:15px;

    width:100%;

    padding:15px;

    border:none;

    background:#15803d;

    color:white;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

}


button:hover{

    background:#166534;

}




.grid{

    display:grid;

    grid-template-columns:

    repeat(auto-fit,minmax(180px,1fr));

    gap:15px;

}




.grid div{

    background:#f8fafc;

    padding:15px;

    text-align:center;

    border-radius:10px;

    font-size:16px;

}



.grid strong{

    display:block;

    margin-top:10px;

    color:#065f46;

    font-size:22px;

}



canvas{

    max-height:350px;

}
